<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 25.1\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
  </packageSources>
</configuration>